section .input-bar{
    position: relative;
}
section .input-bar .send-btn{
    position: absolute;
    right: 1%;
}
section .input-bar .attach{
    position: absolute;
    left: 1.2%;
}

@media all and (max-width:650px) {
    section .input-bar .send-btn{
        background: transparent !important;
    }

    .container .login .login-btn{
        display: none;
    } 

    .container .wrapper .heading-text h1{
        font-size: 30px;
    }
    .container .wrapper .heading-img img{
        width: 40px;
    }
    .biggestOne{
        justify-content: flex-start !important;
        padding-top: 15px !important;
    }
    .container{
        flex-direction: column;
        justify-content: flex-start !important;
        gap: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 35px !important;
    }

}
